<nav class="navbar navbar-light bg-success justify-content-between">
  <h3 class="navbar-brand ms-3 text-light">CPM</h3>
  <div class="form-inline mx-3">
    <button (click)="open_modal();" class="btn btn-outline-light my-2 my-sm-0" type="submit">Nouvel Tâche</button>
    <button  class="btn btn-outline-light m-2 my-sm-0" (click)="CPM();">Calculer</button>

  </div>

</nav>

<div class="row no-gutters">
  <div class="col-12 col-sm-6 col-md-8">
    <div #diagramDiv style="width: 100%; height: 500px;"></div>
    <div *ngIf="criticalTasks && criticalTasks.length > 0">
      <h2>Tâches critiques :</h2>
      <h5>
        {{ criticalTasks.reverse().join(' → ') }}
      </h5>
    </div>

  </div>

  <div class="col-6 col-md-4">
    <div class="table-responsive-sm">
      <table class="table">
        <caption>Liste des tâche</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tâche</th>
            <th scope="col">Durée</th>
            <th scope="col">Tache succ</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rs of nodeDataArray">
            <th scope="row">1</th>
            <td>{{rs.key}}</td>
            <td>{{rs.name}}</td>
            <td>{{rs.to}}</td>
            <td>
              <button (click)="open_modal_edit(rs);" class="btn btn-outline-success">Modifier</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #Modal>
  <div class="modal-header d-flex justify-content-between bg-success">
    <h3  class="text-light mb-0">Nouvel Tâche</h3>
    <div class="d-flex justify-content-end m-0">

    </div>
  </div>
  <form [formGroup]="data_form" (ngSubmit)="Ajout_data()">

    <div class="modal-body">
      <div class="form-group py-2">
        <label for="exampleInputEmail1 p-3">Nom Tâche</label>
        <input type="text" formControlName="key" class="form-control" id="exampleInputEmail1"  placeholder="Nom Tâche">
      </div>

      <div class="form-group py-2">
        <label for="exampleInputPassword1">Durré</label>
        <input type="number" formControlName="name" class="form-control" placeholder="Durrée">
      </div>

      <div class="form-group p-2 row">
          <label for="exampleInputEmail1 p-3">Tâche Succésseur</label>
          <div formArrayName="to">
            <div *ngFor="let control of toControls.controls; let i = index" class="input-group mb-2">
              <input type="text" formControlName="{{i}}" class="form-control" required>
              <button type="button" class="btn btn-danger" (click)="supprimerTo(i)">Supprimer</button>
            </div>
          </div>
          <button type="button" class="btn btn-success" (click)="ajouterTo()">Nouveau T_S</button>
      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Save</button>
    </div>
  </form>
</ng-template>


<ng-template #Modal_edit>
  <div class="modal-header d-flex justify-content-between bg-success">
    <h3  class="text-light mb-0">Modifier Tâche</h3>
    <div class="d-flex justify-content-end m-0">

    </div>
  </div>
  <form [formGroup]="data_form_edit">
    <div class="modal-body">
      <div class="form-group py-2">
        <label for="exampleInputEmail1 p-3">Nom Tâche</label>
        <input type="email" formControlName="key" class="form-control" id="exampleInputEmail1"  placeholder="Nom Tâche">
      </div>

      <div class="form-group py-2">
        <label for="exampleInputPassword1">Durré</label>
        <input type="text" formControlName="name" class="form-control" placeholder="Durrée">
      </div>

      <div class="form-group p-2 row">
      <div class="form-group p-2 row">
          <label for="exampleInputEmail1 p-3">Tâche Succésseur</label>
          <div formArrayName="to">
            <div *ngFor="let control of toControls_edit.controls; let i = index" class="input-group mb-2">
              <input type="text" [formControlName]="i" class="form-control" required>
              <button type="button" class="btn btn-danger" (click)="supprimerTo_edit(i)">Supprimer</button>
            </div>
          </div>
          <button type="button" class="btn btn-success" (click)="ajouterTo_edit()">Nouveau T_S</button>
          </div>
    </div>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="Modifier_data();" class="btn btn-outline-dark">Modifier</button>
    </div>
  </form>
</ng-template>
